# Игнорирование служебных файлов Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорирование виртуального окружения
.venv/
venv/

# Игнорирование файла с ключами сервисного аккаунта Google
service_account.json

# Игнорирование файлов IDE (примеры для PyCharm и VS Code)
.idea/
.vscode/

# Игнорирование лог-файлов (если будете их создавать)
*.log

# Игнорирование файлов данных, если они большие или не должны быть в репозитории
# Например, если user_data.json или orders.json станут очень большими
# или содержат чувствительную информацию, которую вы не хотите коммитить.
# Пока можете их не добавлять, но имейте в виду.
# user_data.json
# orders.json
# menu_ru.json # Если он будет меняться только локально

# Файлы операционной системы
.DS_Store # для macOS
Thumbs.db # для Windows